.calculator-screen {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: minmax(100px, auto) repeat(10, 50px);
}

.calculator-screen > button {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid @button-border-color;
  border-left: 1px solid @button-border-color;
  outline: none;
  background-color: @button-color;
  color: @white;

  &:hover {
    background-color: @button-color--hover;
  }
}

button.num {
  background-color: @button-num-color;
}

button.op {
  background-color: @button-operation-color;
}

.equally-dub {
  grid-column: span 2;
}

button.equally {
  grid-row: span 2;
  grid-column: span 6;
  border-bottom: none;
  &:hover {
    background-color: @button-color;
  }
}
