//Colors
@black: #000;
@white: #fff;
@button-border-color: #313131;
@output-background-color: #313131;
@button-color: #525252;
@button-num-color: #bdbdbd;
@button-operation-color: #d36c17;
@button-color--hover: #ddbc96;
@previous-operand: #ffffffbf;

//Fonts
@main-font: 'Verdana';
